{% extends 'base.html.twig' %}

{% block title %}Task Manager - Home{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="main">
    <h1 class="text-center">Task manager Biocorp INC.</h1>
    <p class="p-3">
        Zaplanuj swój dzień i zwiększ swoją produktywność dzięki naszej aplikacji Task Manager!
        Nasze narzędzie pozwala Ci łatwo organizować zadania, ustalać priorytety i śledzić postępy, wszystko w jednym miejscu.
    </p>
    <div class="w-100 rounded bg-primary-subtle">
        <h3>Zwiększ efektywność</h3>
        <p>Dzięki klarownemu widokowi zadań, łatwo skoncentrujesz się na najważniejszych zadaniach.</p>
    </div>
    <div class="w-100 rounded bg-primary-subtle">
        <h3>Zarządzać czasem</h3>
        <p>Planuj harmonogram, ustawiaj przypomnienia i unikaj opóźnień.</p>
    </div>
    <div class="w-100 rounded bg-primary-subtle">
        <h3>Wzmacniać motywację</h3>
        <p>Śledź postępy i ciesz się z osiągniętych celów, co dodatkowo motywuje do działania.</p>
        <a href="/home/announcement" class="btn btn-primary">Sprawdz</a>
    </div>
</div>
{% endblock %}
