{% extends 'base.html.twig' %}

{% block title %}Task Manager - Add Announcement{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="w-25 m-auto">
    {{ form(form) }}
</div>
{% endblock %}
