{% extends 'base.html.twig' %}

{% block title %}Task Manager - View Announcement{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="w-25 m-auto">
    <h3>{{ announcement.getTitle() }}</h3>
    <div class="content my-3">
        {% for line in content %}
            {{ line }}<br>
        {% endfor %}
    </div>
    <a href="/home/announcement" class="btn btn-primary float-end">Come back</a>
</div>
{% endblock %}